%h2
  Your queued posts
-if @posts_past.any?
  =link_to "View past posts", past_path
-if @posts_today.any?
  %h3
    Today
  %table.table.table-hover
    %thead
      %tr
        %th
          Content
        %th
          Time
        %th
          Location
        %th
          Edit
    %tbody
    -@posts_today.each do |post|
      %tr
        %td
          =post.content
        %td
          =post.buffer_time
        %td
          =post.page_name.capitalize
        %td
          -if post.parse_time < @startDate
            %span.edit_link
              Posted
          -else
            %span.edit_link
              =link_to "Edit", edit_post_path(post)
              =link_to "Delete", post, method: :delete, data: { confirm: "Delete post for #{post.page_name}?" }
-if @posts_tomorrow.any?
  %h3
    Tomorrow
  %table.table.table-hover
    %thead
      %tr
        %th
          Content
        %th
          Time
        %th
          Location
        %th
          Edit
    %tbody
    -@posts_tomorrow.each do |post|
      %tr
        %td
          =post.content
        %td
          =post.buffer_time
        %td
          =post.page_name.capitalize
        %td
          -if post.parse_time < @startDate
            %span.edit_link
              Posted
          -else
            %span.edit_link
              =link_to "Edit", edit_post_path(post)
              =link_to "Delete", post, method: :delete, data: { confirm: "Delete post for #{post.page_name}?" }
-if @posts_future.any?
  %h3
    Future
  %table.table.table-hover
    %thead
      %tr
        %th
          Content
        %th
          Time
        %th
          Location
        %th
          Change
    %tbody
    -@posts_future.each do |post|
      %tr
        %td
          =post.content
        %td
          =post.buffer_time
        %td
          =post.page_name.capitalize
        %td
          -if post.parse_time < @startDate
            %span.edit_link
              Posted
          -else
            %span.edit_link
              =link_to "Edit", edit_post_path(post)
              =link_to "Delete", post, method: :delete, data: { confirm: "Delete post for #{post.page_name}?" }
