="OAuth expiration: " + current_user.oauth_expires_at.to_s
%br
="Current Time: " + Time.zone.now.utc_offset.to_s
%br
%h2
  Schedule your posts
=form_for @post do |f|
  %div{style: "width: 500px;"}
    =f.label :content
    =f.text_field :content, class: "form-control"

    =f.label :photo
    =f.file_field :photo
    / Ajax preview
    / #image_view
    /   =image_tag @post.photo.url

    =f.label :buffer_time
    #datetimepicker.input-group
      %input.form-control{id: "post_buffer_time", name: "post[buffer_time]", "data-format" => "MM/dd/yyyy HH:mm:ss PP", :type => "text"}
      %span.input-group-addon
        %i{"data-time-icon" => "fa fa-clock-o", "data-date-icon" => "fa fa-calendar"}
    %br
    =f.submit

:javascript
  $(function() {
    $('#datetimepicker').datetimepicker({
      language: 'en',
      pick12HourFormat: true,
      startDate: new Date(#{@startDate.year}, #{@startDate.month - 1}, #{@startDate.day})
    });
  });

