-if current_user
  %p
    =current_user.name
    =link_to "Home", profile_path
    =link_to "Scheduled Posts", posts_path
    =link_to "Sign Out", signout_path, id: "sign_out"
-else
  %p
    =link_to "Sign In With Facebook", "/auth/facebook", id: "sign_in"