-if current_user
  %nav.navbar.navbar-default
    .container-fluid
      %a.navbar-brand{href: root_path}
        Buffer MVP
      %ul.nav.navbar-nav.navbar-right
        %li.navbar-text
          ="Welcome, " + current_user.name
        %li{class: "#{'navbar-active' if current_page?(profile_path)}"}
          =link_to "Home", profile_path
        %li{class: "#{'navbar-active' if current_page?(posts_path)}"}
          =link_to "Scheduled Posts", posts_path
        %li{class: "#{'navbar-active' if current_page?(settings_path)}"}
          =link_to "Settings", settings_path
        %li
          =link_to "Sign Out", signout_path, id: "sign_out"
-else
  %nav.navbar.navbar-default
    .container-fluid
      %a.navbar-brand{href: root_path}
        Buffer MVP
      %ul.nav.navbar-nav
        %li
          =link_to "Sign In With Facebook", "/auth/facebook", id: "sign_in"